body{
    background-color: black;
    
    background-image: url("");
}
ul.b {
list-style-type: square;
color: rgb(245, 242, 235);
}
ul.b1 {
list-style-type: square;
margin-left: 800px;
}
.lists{
display: flex;

}

.lists  a {
text-decoration: none;
color: rgb(217, 183, 121);
font-size: 1.3em;

}

.lists  a:hover{
color: #f18a04 ;
}
.in{
display:block; width: 1200px; margin-left: 170px;
}
.in strong{
color:orange;
}
.in p{
color: white;
}