body{
    background-color: black;
    
   
}
ul.b {
list-style-type: square;
color: rgb(245, 242, 235);
}
ul.b1 {
list-style-type: square;
margin-left: 800px;
}
.lists{
display: flex;

}
.Ai img {
border-radius: 50%;
}

.lists  a {
text-decoration: none;
color: rgb(217, 183, 121);
font-size: 1.3em;

}
.p{
    color: white;
}

.lists  a:hover{

color: #f18a04 ;

}
* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
   
    padding: 10px;
    flex: 80%;
  }
  
  .flex-item-right {
 
    padding: 10px;
    flex: 20%;
  }
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;

  }
  
  th, td {
    text-align: left;
    padding: 8px;
    color: white;
    font-size: 18px;
  }
  
  tr:nth-child(even) {background-color: #5a5356; color: white;}
  
  